<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  

  <configSections>
    <section name="registerCompanies"
             type="My.MyConfigSection, My" />

    <section name="RegisterCompanies"
             type="My.MyConfigSection, My" />
  </configSections>
  
  <registerCompanies>
    <add name="Tata Motors" code="Tata"/>
    <add name="Honda Motors" code="Honda"/>
  </registerCompanies>
  


  <RegisterCompanies>
    <Companies>
      <Company name="Tata Motors" code="Tata"/>
      <Company name="Honda Motors" code="Honda"/>
    </Companies>
  </RegisterCompanies>



</configuration>
